body {
    margin: 0;
    background-image: url("volcano.png");
    padding-top: : 50;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: white;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    overflow: auto;
}

.nextQuestion{
  background-color: cyan;
}

.linkButton{
  
}


.welcomeDiv{
  text-align: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

/* Add some padding inside the card container */
.container {
    padding: 4px 16px 4px;
    text-align: center;
}

.clockDiv{
  display: table;
  margin: 0 auto;
}

.inputsDiv{
  text-align: center;
}

.startButton{
  background-color: green;
}

.quitButton{
  background-color: #f44336;
}

.lifeContainer{
  position: relative;
  left: 0;
  bottom: 0;
}

.lifeLabel {
  display: inline;
}

.nameContainer{
  float:right;
  width:100px;
}

.newGameDiv{
  text-align: center;
}

.buttonsDiv{
  text-align: center;
}
